<a href="https://colab.research.google.com/github/sau-rabh999/NLP/blob/main/text_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('cf.csv')
df.head()

                                               Title category
0  Cricket is played with a bat and ball and invo...        c
1  Football is a game that millions of people aro...        f
2  This game is played by millions all over the w...        c
3  This game is one that is loved  and played  by...        f

In [3]:
df.shape

(4, 2)

In [4]:
df['category'].value_counts()

f    2
c    2
Name: category, dtype: int64

In [5]:
import nltk
import re
import string
from nltk import word_tokenize
nltk.download('stopwords')
nltk.download('punkt')
from nltk.corpus import stopwords
stopwords = stopwords.words('english')
from nltk.stem.porter import PorterStemmer
from nltk.stem import WordNetLemmatizer

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [6]:
def text_clean(a):
  remove_punctuation = [char for char in a if char not in string.punctuation]
  remove_punctuation = re.sub(r'\d+', '',a)
  remove_punctuation = ''.join(remove_punctuation)
  return[word for word in remove_punctuation.split() if word.lower() not in set(stopwords)]

In [7]:
df.head()

                                               Title category
0  Cricket is played with a bat and ball and invo...        c
1  Football is a game that millions of people aro...        f
2  This game is played by millions all over the w...        c
3  This game is one that is loved  and played  by...        f

In [8]:
print(df.iloc[:,0].apply(text_clean))

0    [Cricket, played, bat, ball, involves, two, co...
1    [Football, game, millions, people, around, wor...
2    [game, played, millions, world, use, bat, ,bal...
3           [game, one, loved, played, many, nations.]
Name: Title, dtype: object

In [9]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(analyzer = text_clean).fit(df['Title'])
cv.vocabulary_

{'(teams)': 0,
 ',ball': 1,
 'Cricket': 2,
 'Football': 3,
 'area': 4,
 'around': 5,
 'ball': 6,
 'bat': 7,
 'big': 8,
 'called': 9,
 'competing': 10,
 'every': 11,
 'field': 12,
 'game': 13,
 'involves': 14,
 'it.': 15,
 'known': 16,
 'love.': 17,
 'loved': 18,
 'many': 19,
 'middle,': 20,
 'millions': 21,
 'nation': 22,
 'nations.': 23,
 'one': 24,
 'oval': 25,
 'people': 26,
 'pitch,': 27,
 'pitch.': 28,
 'play': 29,
 'played': 30,
 'players.': 31,
 'rectangular': 32,
 'sides': 33,
 'small': 34,
 'two': 35,
 'universal': 36,
 'use': 37,
 'world': 38,
 'yards.': 39}

In [10]:
title_bow = cv.transform(df['Title'])
print(title_bow)

  (0, 0)	1
  (0, 2)	1
  (0, 4)	1
  (0, 6)	1
  (0, 7)	1
  (0, 10)	1
  (0, 12)	1
  (0, 14)	1
  (0, 16)	1
  (0, 20)	1
  (0, 25)	1
  (0, 27)	1
  (0, 30)	1
  (0, 31)	1
  (0, 32)	1
  (0, 33)	1
  (0, 35)	1
  (0, 39)	1
  (1, 3)	1
  (1, 5)	1
  (1, 8)	1
  (1, 9)	1
  (1, 11)	1
  (1, 13)	2
  (1, 15)	1
  (1, 17)	1
  (1, 21)	1
  (1, 22)	1
  (1, 26)	1
  (1, 29)	2
  (1, 34)	1
  (1, 36)	1
  (1, 38)	1
  (2, 1)	1
  (2, 7)	1
  (2, 13)	1
  (2, 21)	1
  (2, 25)	1
  (2, 28)	1
  (2, 30)	1
  (2, 37)	1
  (2, 38)	1
  (3, 13)	1
  (3, 18)	1
  (3, 19)	1
  (3, 23)	1
  (3, 24)	1
  (3, 30)	1

In [11]:
x = title_bow.toarray()
print(x)

[[1 0 1 0 1 0 1 1 0 0 1 0 1 0 1 0 1 0 0 0 1 0 0 0 0 1 0 1 0 0 1 1 1 1 0 1
  0 0 0 1]
 [0 0 0 1 0 1 0 0 1 1 0 1 0 2 0 1 0 1 0 0 0 1 1 0 0 0 1 0 0 2 0 0 0 0 1 0
  1 0 1 0]
 [0 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 1 0 0 1 0 1 0 0 0 0 0
  0 1 1 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 1 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0
  0 0 0 0]]

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
x = tfidf.fit_transform(df['Title']).toarray()
y = df.iloc[:, -1].values
print(x)

[[0.17641976 0.17641976 0.         0.18412629 0.17641976 0.
  0.17641976 0.13909136 0.13909136 0.         0.         0.
  0.         0.         0.         0.17641976 0.17641976 0.
  0.17641976 0.         0.         0.17641976 0.17641976 0.27618944
  0.         0.17641976 0.         0.         0.         0.17641976
  0.         0.         0.         0.13909136 0.         0.13909136
  0.         0.         0.13909136 0.         0.11260645 0.17641976
  0.17641976 0.17641976 0.         0.17641976 0.11260645 0.33781934
  0.         0.17641976 0.         0.         0.35283951 0.
  0.17641976]
 [0.         0.         0.         0.20209255 0.         0.19363404
  0.         0.         0.         0.19363404 0.19363404 0.19363404
  0.         0.19363404 0.19363404 0.         0.         0.19363404
  0.         0.19363404 0.2471882  0.         0.         0.10104628
  0.38726808 0.         0.19363404 0.         0.         0.
  0.1526633  0.19363404 0.         0.1526633  0.         0.
  0.         0.19363404 0.         0.38726808 0.         0.
  0.         0.         0.19363404 0.         0.1235941  0.1235941
  0.         0.         0.19363404 0.         0.         0.1526633
  0.        ]
 [0.         0.         0.30777879 0.32122348 0.         0.
  0.         0.24265633 0.24265633 0.         0.         0.
  0.24265633 0.         0.         0.         0.         0.
  0.         0.         0.19645121 0.         0.         0.16061174
  0.         0.         0.         0.         0.         0.
  0.24265633 0.         0.         0.         0.         0.24265633
  0.30777879 0.         0.24265633 0.         0.19645121 0.
  0.         0.         0.         0.         0.         0.19645121
  0.24265633 0.         0.         0.30777879 0.         0.24265633
  0.        ]
 [0.         0.         0.         0.18652656 0.         0.
  0.         0.         0.         0.         0.         0.
  0.28180911 0.         0.         0.         0.         0.
  0.         0.         0.22814876 0.         0.         0.37305312
  0.         0.         0.         0.35743912 0.35743912 0.
  0.         0.         0.35743912 0.         0.35743912 0.
  0.         0.         0.         0.         0.22814876 0.
  0.         0.         0.         0.         0.22814876 0.
  0.28180911 0.         0.         0.         0.         0.
  0.        ]]

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.50, random_state = 0)

In [14]:
from sklearn.naive_bayes import MultinomialNB
classifierNB = MultinomialNB()
classifierNB.fit(x_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [15]:
y_pred = classifierNB.predict(x_test)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[['c' 'c']
 ['f' 'f']]

In [16]:
from sklearn.metrics import confusion_matrix, accuracy_score, f1_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1 0]
 [0 1]]

1.0